<!-- Ejemplo de Formulario Angular basado en Plantilla (Template Driven Form)-->
<section fxLayoutAlign="center">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-card   fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title>Inicio de sesión</mat-card-title>
      <mat-card-content>
        <mat-form-field hintLabel="8 caracteres" fxLayoutAlign="center">
          <input type="text" 
            matInput placeholder="usuario" 
            ngModel name="usuario"
            required
            minlength="8"
            maxlength="8"
            #usuario="ngModel">
            <mat-hint align="end">{{ usuario.value?.length}} / 8</mat-hint>
          <mat-error *ngIf="usuario.hasError('required')">Este campo no puede estar vacío</mat-error>          
        </mat-form-field>
        <mat-form-field hintLabel="Mínimo 8 caracteres">
            <input type="password" 
            matInput placeholder="Contraseña" 
            ngModel name="password"
            required
            minlength="8"
            #pwInput="ngModel">
            <mat-hint align="end">{{ pwInput.value?.length}} / 8</mat-hint>
          </mat-form-field>
          <br>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid"><mat-icon>home</mat-icon>Aceptar</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>

