<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-menu-lateral (closeSidenav)="sidenav.close()"></app-menu-lateral>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-cabecera (sidenavToggle)="sidenav.toggle()"></app-cabecera>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
