/* You can add global styles to this file, and also import other style files */
/*Añadidos necesarios para Angular Material y Material Icons:*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~material-design-icons/iconfont/material-icons.css';

html, body {
    font-family: sans-serif;
    height: 100%;
  }